/*html, body {
    margin:0; 
    padding:0
}*/

/*html, body {
    background-color:purple;
    margin:10px 2000px 10px 2000px;
}*/

border{
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 30px 0 rgba(0,0,0,0.06);
    padding: 100px;
    text-align: center;
    margin-top: 54px;
}

/*h1 {
    font-family:arial, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
}

h2, h3 {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
}

p {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
    margin-left:0;
    margin-right:0;
}

li {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
    margin-left:0;
    margin-right:0;
}

a:link {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-decoration:underline;
}

a:visited {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-decoration:underline;
}

a:hover {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-decoration:underline;
}

a:active, a:focus {
    font-family:verdana, sans-serif; 
    font-size:100%; 
    color:black; 
    background-color:transparent; 
    text-decoration:underline; 
}

table {
    border-color:white;
    border-style:solid;
    border-width:1px;
}

td {
    font-family:arial, sans-serif;
    font-size:100%;
    color:black;
    text-align:left;
    background-color:transparent;
    border-color:white;
    border-style:solid;
    border-width:1px;
}*/

.circle-effect{
    position: absolute;
    right: 5%;
    top: 15%;
    width: 100px;
    height: 100px;
    background: #FFFAFA	;
    border: 2px solid rgba(221, 221, 221, 0.8);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: green;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: .5s linear;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    text-orientation: sideways;
}
@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}

.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-25deg);

  /* Firefox */
  -moz-transform: rotate(-25deg);

  /* IE */
  -ms-transform: rotate(-25deg);

  /* Opera */
  -o-transform: rotate(-25deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}