<head>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>

<div class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="main/index">Home</a></li>
        <li><a href="book/index">Bibliothèque</a></li>
        <li><a href="user/user_list">Utilisateurs</a></li>
        <li><a href="rental/index">Locations</a></li>
        <li><a href="rental/returns">Retours</a></li>
        <li><a href="user/logout">Déconnexion</a></li>
    </ul>
</div>

