<head>
    <link style="width:50%;" rel="shortcut icon" href="img/bibli_logo.ico">
    <meta charset="UTF-8">
    <base href="<?= $web_root ?>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>

<div class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="main/index"  class="glyphicon glyphicon-home"> Accueil</a></li>
        <li><a href="book/index"  class="glyphicon glyphicon-book"> Bibliothèque</a></li>
        <li><a href="user/user_list"  class="glyphicon glyphicon-user"> Membres</a></li>
        <!--<li><a href="rental/index"   class="glyphicon glyphicon-bookmark">Locations</a></li>-->

        <li><a href="rental/returns" class="glyphicon glyphicon-calendar"> Retours</a></li>
        <li><a href="user/logout" class="glyphicon glyphicon-log-out"> Déconnexion</a></li>
    </ul>
</div>

